.main_container {
  display: flex;
  justify-content: space-evenly;
}

#container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#container > div {
  text-align: center;
  border: 2px solid red;
  padding: 10px;
  box-sizing: border-box;
}

#container > div > img {
  width: 100%;
  background: red !important;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #e0e0e0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #757575;
  height: 70px;
  position: sticky;
  top: 0px;
}
.navbar-logo {
  width: 100%;
  display: flex;
  width: 40%;
  border: 2px solid red;
  /* justify-content: start; */
  align-items: center;
}
.navbar-logo img {
  width: 100%;
  /* background: red !important; */
}
.navbar-content {
  width: 30%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid greenyellow;
}

.window-image {
  width: 100%;
}
.window-image > img {
  width: 100%;
}

/* **********************  SHOP CATEGORY ********************************* */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  /* left: 500px; */
  /* margin-bottom: 40px; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* ********************  SIDE BAR MENU ******************************************** */
.filter {
  margin-left: 10px;
}

.filter div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* .checkbox-container input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
} */
